# MODEL=anthropic:claude-sonnet-4-5-20250929
# MODEL=openai:gpt-4o

MODEL=
MODEL_SMALL=
TEMPERATURE=0.0
# ANTHROPIC_API_KEY=
# OPENAI_API_KEY=
GOOGLE_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
